<h1>Pages#ask</h1>
<p>Find me in app/views/pages/ask.html.erb</p>

 <%= @your_message %>

<form action="answer">
  <input type="text" name= "ma_reponse">
  <input type="submit" value="Ask!">
</form>

<%= link_to "ask a new question", about_path %>
